<form id="monitoringHistoryForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
                    <div class="form-group col-md-6">
                <label for="historyId">History Id</label>
                <input class="form-control" type="text" id="historyId"
                       name="historyId" placeholder="History Id"
                       value="{{ data.historyId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="siteId">Site Id</label>
                <input class="form-control" type="text" id="siteId"
                       name="siteId" placeholder="Site Id"
                       value="{{ data.siteId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="typeId">Type Id</label>
                <input class="form-control" type="text" id="typeId"
                       name="typeId" placeholder="Type Id"
                       value="{{ data.typeId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input class="form-control" type="text" id="status"
                       name="status" placeholder="Status"
                       value="{{ data.status }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="createdAt">Created At</label>
                <input class="form-control" type="text" id="createdAt"
                       placeholder="Created At"
                       value="{{ data.createdAt }}">
            </div>
            </div>
    {{"monitoringHistoryForm" | formToken | raw }}
</form>
