<form id="tokensForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tokenId">Token Id</label>
            <input class="form-control" type="text" id="tokenId"
                   name="tokenId" placeholder="Token Id"
                   value="{{ data.tokenId }}">
        </div>
        <div class="form-group col-md-6">
            <label for="userId">User Id</label>
            <input class="form-control" type="text" id="userId"
                   name="userId" placeholder="User Id"
                   value="{{ data.userId }}">
        </div>
        <div class="form-group col-md-6">
            <label for="token">Token</label>
            <input class="form-control" type="text" id="token"
                   name="token" placeholder="Token"
                   value="{{ data.token }}">
        </div>
        <div class="form-group col-md-6">
            <label for="createdAt">Created At</label>
            <input class="form-control" type="text" id="createdAt"
                   placeholder="Created At"
                   value="{{ data.createdAt }}">
        </div>
    </div>
    {{"tokensForm" | formToken | raw }}
</form>
